.users3 {
    border: 2px solid cornflowerblue;
    padding-bottom: 5px;
}

.main_users3 {
    border: 2px solid cornflowerblue;

}

.post3 {
    border: 2px solid lawngreen;
}

.main_post3 {
    border: 2px solid lawngreen;
    margin-top: 5px;
}